.loginContainer {
  padding: 0 15%;
}

.LoginBtnAlign {
  text-align: end;
}

.loginForm {
  display: flex;
}

.loginImg {
  width: 100%;
  height: 370px;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  transition: border-color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}

.form-control:focus {
  border-color: #0d6efd;
  box-shadow: none;
}

@media only screen and (max-width: 768px) {
  .loginImg {
    display: none;
  }

  .loginForm {
    display: block;
  }
}
